<div class="main">
  <div class="header">
    <div class="page_title">
      <p class="title">Authentication</p>
    </div>
  </div>

  <div class="stepper">
    <mat-vertical-stepper>
      <ng-template matStepperIcon="edit">
        <mat-icon>done</mat-icon>
      </ng-template>

      <mat-step label="Click Your Photo">
        <div class="click_photo" onClick="">
          <img class="swipe_icon" src="assets/scan.gif" />
          <input
            type="file"
            id="pic"
            style="display:none"
            src="assets/scan.gif"
            capture="user"
            accept="image/*"
          />
          <p>Click here to start Face Verification</p>
        </div>
      </mat-step>
      <mat-step label="Preview Photo"></mat-step>
      <mat-step label="Location verification"></mat-step>
      <mat-step label="Photo verification"></mat-step>
      <mat-step label="Swiped In"></mat-step>
    </mat-vertical-stepper>
  </div>
</div>
